{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% load staticfiles %}

    <p>Device information for DEVICE</p>

    <ul>
        <li>Name (from device): {{ system_information.sysName }}</li>
        <li>System Version: {{ system_information.sysDescr }}</li>
        <li>Location: {{ system_information.sysLocation }}</li>
        <li>Uptime: {{ system_information.sysUpTimeInstance }} days</li>
        <li>Contact: {{ system_information.sysContact }}</li>
    </ul>

    <p>Log of system errors</p>

    <ul>
        {% for item in log_items_strings %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>

{% endblock %}