{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% load staticfiles %}

    <p>NetStatus Device Map</p>

    <div style="position: relative; left: 0; top: 0;">
        <img src="{% static "buildings-plan-2011.jpg" %}" width="800px" height="600px" alt="School Map" id="map" style="position: relative; top: 0; left: 0;">
        <img src="{% static "ethernet_port_neutral.png" %}" width="10px" height="10px" style="position: absolute; top: 400px; left: 75px;" id="eth">
    </div>


    <script>

        // Sets up map object based on div ID
        var map = document.querySelector("#map");
        var ethernet_port = document.querySelector("#eth");

        // Sets up event handler for when the map is clicked
        map.addEventListener("click", getClick, false);


        // When the user clicks on the map...
        function getClick(event) {
            // Get the rectangle that encompasses our map div. This allows us to get relative x,y co-ordinates
            // for the user click, allowing them to be replicated in any browser when showing the location back
            // This makes it easy to store in our database too!
            var rect = map.getBoundingClientRect();
            var x = event.clientX - rect.left;
            var y = event.clientY - rect.top;
            ethernet_port.style.top = y + "px";
            ethernet_port.style.left = x + "px";
        }

    </script>

{% endblock %}