<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} netstatus {% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "main.css"%}" type="text/css" />
</head>
<body>

<div class="header">
    <p class="ns-head">NetStatus</p>
    <ul class="ns-menu">
        <li class="ns-menu-item"><a href="{% url 'main' %}">Dashboard</a></li>
        <li class="ns-menu-item"><a href="{% url 'device-list'  %}">Device List</a></li>
        <li class="ns-menu-item"><a href="{% url 'new-device' %}">New Device</a></li>
        <li class="ns-menu-item"><a href="{% url 'search' %}">Search</a></li>
    </ul>

</div>

<div class="main">
<div class="wrapper">
    {% block content %} {% endblock %}


<div class="footer">
<p class="footer">NetStatus for Simon Langton Grammar School for Boys<br />
Copyright &copy; Will Furnell 2016.
</p>

</div>


</div>



</div>



</body>
</html>
